.root {
    -fx-base: #1e1e1e;
    -fx-background: derive(-fx-base, 0%);
    -fx-control-inner-background: derive(-fx-base, 20%);
    -fx-color: derive(-fx-base, 10%);

    -fx-accent: rgba(0, 64, 0, 0.6);
    -fx-focus-color: derive(-fx-accent, -40%);
    -fx-faint-focus-color: derive(-fx-accent, -60%);
    -fx-selection-bar-non-focused: derive(-fx-base, 40%);
    -fx-default-button: derive(-fx-accent, 20%);
}

.axis {
    AXIS_COLOR: derive(-fx-background, 60%);
}

.text-field, .text-field:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, 50%);
}

.header-pane {
    -fx-background-color: derive(-fx-accent, 0%);
}

.view-switch-button {
    -fx-text-fill: black;
    -fx-background-color: derive(-fx-accent, 20%);
}

.view-switch-button:selected {
    -fx-background-color: derive(-fx-accent, 60%);
}

.entity-label:empty {
    -fx-background-color: rgba(0, 0, 0, 0.75), rgba(128, 128, 128, 0.75), linear-gradient(to bottom, -fx-base 0%, -fx-control-inner-background 100%);
    -fx-text-fill: darkgrey;
}

.entity-label:hovered {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 6, 0.3, 1, 1);
    -fx-background-color: rgba(64, 64, 64, 0.8), rgba(64, 64, 64, 0.5), linear-gradient(to top, -fx-base 0%, -fx-control-inner-background 90%);
    -fx-text-fill: darkgrey;
}

.entity-label:filled {
    -fx-effect: dropshadow(one-pass-box, black, 6, 0.3, 1, 1);
    -fx-background-color: rgba(128, 128, 128, 0.8), rgba(0, 0, 0, 0.5), linear-gradient(to top, -fx-base 50%, -fx-control-inner-background 90%);
    -fx-text-fill: -fx-light-text-color;
}

.status-bar {
    -fx-background-color: -fx-control-inner-background;
}

.default-color0.chart-series-line {
    -fx-stroke: -fx-light-text-color;
}

.default-color0.chart-line-symbol {
    -fx-background-color: -fx-light-text-color, -fx-dark-text-color;
}

.chart-horizontal-grid-lines, .chart-vertical-grid-lines {
    -fx-stroke: derive(-fx-background, 40%);
}

.progress-indicator {
    -fx-progress-color: derive(-fx-accent, 80%);
}

.dialog-pane:header .header-panel {
    -fx-background-color: -fx-box-border, linear-gradient(derive(-fx-background, 30%), -fx-background);
}

.dialog-pane > .button-bar > .container > .details-button,
.list-view > .placeholder > .label {
    -fx-text-fill: -fx-light-text-color;
}

.hyperlink, .hyperlink:visited {
    -fx-text-fill: derive(-fx-accent, 60%);
}
