.header-pane {
    -fx-background-color: #87c27d;
}

.view-switch-button {
    -fx-text-fill: black;
    -fx-background-color: #67a364;
}

.view-switch-button:selected {
    -fx-background-color: #3c783c;
}

.view-switch-button:focused {
    -fx-focus-color: none;
    -fx-border-color: none;
}

.progress-indicator {
    -fx-progress-color: green;
}

.status-bar {
    -fx-background-color: lightgray;
}

.entity-label:empty {
    -fx-background-color: rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.75), linear-gradient(to bottom, #bbbbbb 0%, #dddddd 100%);
    -fx-text-fill: grey;
}

.entity-label:hovered {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 6, 0.3, 1, 1);
    -fx-background-color: rgba(255, 255, 255, 0.8), rgba(128, 128, 128, 0.5), linear-gradient(to top, #cccccc 50%, #eeeeee 90%);
    -fx-text-fill: grey;
}

.entity-label:filled {
    -fx-effect: dropshadow(one-pass-box, black, 6, 0.3, 1, 1);
    -fx-background-color: rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5), linear-gradient(to top, #cccccc 50%, #eeeeee 90%);
    -fx-text-fill: black;
}

.chart-horizontal-grid-lines, .chart-vertical-grid-lines {
    -fx-stroke: lightgray;
}

.chart-alternative-row-fill {
    /*-fx-fill: #99bcfd;*/
    /*-fx-stroke: transparent;*/
    /*-fx-stroke-width: 0;*/
}

.chart-plot-background {
    /*-fx-background-color: white;*/
}

