/* JavaFX CSS Reference Guide - https://openjfx.io/javadoc/17/javafx.graphics/javafx/scene/doc-files/cssref.html */

.root {
    -fx-font-size: 130%;
}

.header-pane .view-switch-button {
    -fx-pref-height: 4em;
    -fx-pref-width: 9.5em;
}

.view-switch-button {
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
}

.status-bar {
    -fx-padding: 6 8 6 8;
    -fx-spacing: 8;
    -fx-pref-height: 3em;
    -fx-alignment: center-left;
}

.status-bar .progress-indicator {
    -fx-pref-height: 2em;
    -fx-pref-width: 2em;
}

.status-bar .label {
    -fx-font-family: "Consolas";
}

.hyperlink {
    -fx-font-weight: bold;
}

.hyperlink:visited {
    -fx-text-fill: -fx-accent;
    -fx-underline: false;
}

.hyperlink:visited:hover {
    -fx-underline: true;
}

.entity-label {
    -fx-pref-height: 2em;
    -fx-padding: 6px;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-font-weight: bold;
}

.entity-label:empty {
    -fx-background-insets: 0 1 1 0, 1 0 0 1, 1;
}

.entity-label:hovered {
    -fx-background-insets: 0 1 1 0, 1 0 0 1, 1;
}

.entity-label:filled {
    -fx-background-insets: 0 1 1 0, 1 0 0 1, 1;
}

.goals-label {
    -fx-pref-width: 3em;
    -fx-alignment: center;
    /* add 3px to the right to make the placeholder text look more centered */
    -fx-padding: 6px 3px 6px 0;
    -fx-font-family: "Arial";
}

.team-label {
    -fx-font-family: "Arial";
}

.plus-label {
    -fx-pref-width: 3em;
    -fx-alignment: center;
    -fx-font-family: "Consolas";
}

.separator-label {
    -fx-alignment: center;
    -fx-font-family: "Arial";
}

.text-field.name, .team-label {
    -fx-pref-width: 17em;
}

.plus-sign {
    -fx-font: normal bold 30px 'sans-serif';
}

.table-column {
    -fx-alignment: center;
}

.default-color0.chart-series-line {
    -fx-stroke: -fx-dark-text-color;
}

.default-color0.chart-line-symbol {
    -fx-background-color: -fx-dark-text-color, -fx-light-text-color;
}

.chart-horizontal-grid-lines, .chart-vertical-grid-lines {
    -fx-stroke-width: 1.5;
}

.line-chart .axis {
    -fx-tick-label-font-size: 1em; /* 10px */
}

.slider .track {
    -fx-pref-height: 10;
}

.slider .thumb {
    -fx-pref-height: 20;
    -fx-pref-width: 20;
}

.slider {
    -fx-font-size: 17px;
    -fx-pref-width: 150em;
    -fx-padding: 0 25px;
}

.slider .axis .axis-tick-mark,
.slider .axis .axis-minor-tick-mark {
    -fx-stroke-width: 1.5;
}

.text-field:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.text-field:invalid {
    -fx-text-box-border: #EE0000;
    /*-fx-control-inner-background: #FFF0F0;*/
    -fx-focus-color: #FF2020;
    -fx-faint-focus-color: #FF202020;
}

.text-field:valid {
    -fx-text-box-border: #00ee00;
    /*-fx-control-inner-background: #f0fff0;*/
    -fx-focus-color: #20ff20;
    -fx-faint-focus-color: #20ff2020;
}
