/* This file containe the vintage style of bava. Just add it on top of the default style. */

.header-pane {
    -fx-background-color: #BCD2E3;
}

.view-switch-button {
    -fx-background-color: #9FB6CD;
}

.view-switch-button:selected {
    -fx-background-color: #70879F;
    /*-fx-background-color: #787878;*/
}

.progress-indicator {
    -fx-progress-color: royalblue;
}
